@{
    ViewData["Title"] = "Overtime Request";
}
<div class="row p-3">
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-header">
                <span class="card-title"><i class="fas fa-table"></i> Total Request</span>
                <div class="card-tools">
                    <button id="btn_req" type="button" class="btn btn-sm btn-primary">
                        <i class="fas fa-plus"></i> Request Working Overtime
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="table_request" class="table table-sm table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th class="w-25">Month</th>
                            <th class="w-50">Job</th>
                            <th class="w-25">Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Request -->
<div class="modal fade" id="modal_otreq" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Overtime Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="job_id">Job</label>
                        <select id="job_id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select id="location" class="form-control"></select>
                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <label for="withdraw">Withdraw</label>
                        <select id="withdraw" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label>Regular</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-3">
                            <input id="reg_start_date" type="date" class="form-control" />
                            <small class="form-text text-muted">Start Date</small>
                        </div>
                        <div class="col-xl-3">
                            <input id="reg_stop_date" type="date" class="form-control" />
                            <small class="form-text text-muted">Stop Date</small>
                        </div>
                        <div class="col-xl-3">
                            <input id="reg_start_time" type="time" class="form-control" />
                            <small class="form-text text-muted">Start Time</small>
                        </div>
                        <div class="col-xl-3">
                            <input id="reg_stop_time" type="time" class="form-control" />
                            <small class="form-text text-muted">Stop Time</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Weekend and Holiday</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-3">
                            <input id="wh_start_date" type="date" class="form-control" />
                            <small class="form-text text-muted">Start Date</small>
                        </div>
                        <div class="col-xl-3">
                            <input id="wh_stop_date" type="date" class="form-control" />
                            <small class="form-text text-muted">Stop Date</small>
                        </div>
                        <div class="col-xl-3">
                            <input id="wh_start_time" type="time" class="form-control" />
                            <small class="form-text text-muted">Start Time</small>
                        </div>
                        <div class="col-xl-3">
                            <input id="wh_stop_time" type="time" class="form-control" />
                            <small class="form-text text-muted">Stop Time</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="detail">Detail</label>
                        <textarea id="detail" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_request').DataTable();
        });

        $('#btn_req').on('click', function () {
            $('#modal_otreq').modal();
        });

        $('#btn_clear').on('click', function () {
            alert("Clear Form");
        });

        $('#btn_submit').on('click', function () {
            alert("Submit Form");
        });
    </script>
}
