<div class="row p-3">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Opportunity & Proposal</span>
            </div>
            <div class="card-body">
                <form>
                    <table id="table_oppr" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>OPP</th>
                                <th>PR</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var table;
        $(document).ready(function () {
            table = $('#table_oppr').DataTable();
        });
    </script>
}
