<div class="modal fade" id="ShowModal" tabindex="-1" role="dialog" style="overflow-y:auto">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Opportunity</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="OpportunityNo">Opportunity NO.</label>
                            <input id="OpportunityNo" type="text" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label for="Date">Date</label>
                            <input id="Date" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="OPType">OP Type</label>
                            <select id="OPType" class="form-control">
                                <option>Please Select</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="Customer">Customer</label>
                            <input id="Customer" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="EndUser">End User</label>
                            <input id="EndUser" type="text" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label for="ProjectName">Project Name</label>
                            <input id="ProjectName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="ProductType">Product Type</label>
                            <input id="ProductType" type="text" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label for="Amount">Amount</label>
                            <input id="Amount" type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <select id="Status" class="form-control">
                            <option>Please Select</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
