@using Microsoft.AspNetCore.Http
@model WebForecastReport.Models.UserModel;
@{
    ViewData["Title"] = "Engineer Score";
}
<div class="row p-3">
    @if (Model.role == "Admin")
    {
        <div class="col-xl-2 pb-3">
            <select id="user_id" class="form-control">
                <option value="">Please Select User</option>
            </select>
        </div>
    }
    else
    {
        <div class="col-xl-2 pb-3" hidden>
            <select id="user_id" class="form-control">
                <option value="">Please Select User</option>
            </select>
        </div>
    }
    <div class="col-xl-2 pb-3">
        <select id="year" class="form-control">
            <option value="">Please Select Year</option>
        </select>
    </div>
    <div class="col-xl-1 pb-3">
        <button id="btn_filter" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-sync"></i> Load
        </button>
    </div>
    <div class="col-xl-2" hidden>
        <div class="card">
            <div class="card-header">
                <span class="card-title">Engineer</span>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="start">Start</label>
                        <input id="start" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="stop">Stop</label>
                        <input id="stop" type="date" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button id="btn_filter" class="btn btn-primary form-control" type="button">
                    Filter
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-header">
                <span class="card-title">Scores</span>
            </div>
            <div class="card-body">
                <table id="table_jobs" class="table table-sm table-striped table-hover text-center w-100">
                    <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>Job Name</th>
                            <th>Cost</th>
                            <th>MD</th>
                            <th>PD</th>
                            <th>Factor</th>
                            <th>Total Manhours</th>
                            <th>Value Per Day</th>
                            <th id="name1">Manhours</th>
                            <th>% Participation</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Job ID</th>
                            <th>Job Name</th>
                            <th>Cost</th>
                            <th>MD</th>
                            <th>PD</th>
                            <th>Factor</th>
                            <th>Total Manhours</th>
                            <th>Value Per Day</th>
                            <th id="name2">Manhours</th>
                            <th>% Participation</th>
                            <th>Score</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        //Variable Declaration
        var table;
        var scores = [];
        var users;

        //Change these parameters to true to see result
        var debug_score = false;
        var debug_user = false;

        $(document).ready(async function () {
            await GetEngineers();
            GenerateUserOption();
            GenerateYearOption();
            var date = new Date();
            $('#user_id').val('@Model.name');
            $('#year').val(date.getFullYear());
            var user_id = $('#user_id').val();
            var year = $('#year').val();
            await GetScores(user_id,year);
            GenerateTable();
            $('#name1').html(user_id + " Manpower");
            $('#name2').html(user_id + " Manpower");
        });

        async function GetEngineers() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetUsers", "EngineerTasks")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    users = response;
                    if (debug_user) {
                        console.log(users);
                    }
                }
            });
        }

        async function GetScores(user_id, year) {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetScores", "EngineerScore")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_id, year },
                success: function (response) {
                    scores = response;
                    if (debug_score) {
                        console.log("Scores");
                        console.log(scores);
                    }
                }
            });
        }

        function GenerateUserOption() {
            var user_str = '<option value="" selected disabled>Please Select Engineer</option>';
            for (var i = 0; i < users.length;i++) {
                user_str += `<option value="${users[i].user_id}">${users[i].user_name}</option>`;
            }
            $('#user_id').empty();
            $('#user_id').append(user_str);
        }

        function GenerateTable() {
            var datas = [];

            for (var i = 0; i < scores.length; i++) {
                datas.push([
                    scores[i].job_id,
                    scores[i].job_name,
                    scores[i].cost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                    scores[i].md_rate,
                    scores[i].pd_rate,
                    scores[i].factor,
                    scores[i].total_manpower,
                    (scores[i].cost_per_tmp * 8).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                    scores[i].manpower,
                    parseInt(scores[i].manpower_per_tmp * 100),
                    scores[i].score.toFixed(2)
                ]);
            }

            if (table !== undefined) {
                table.destroy();
            }
                
            table = $('#table_jobs').DataTable({
                data: datas,
                columnDefs: [
                    {
                        targets: 0,
                        width: "10%"
                    },
                    {
                        targets: 1,
                        width: "40%",
                        className: "text-left"
                    },
                    {
                        targets: [3, 4, 10],
                        visible: false
                    }
                ]
            });
        }

        function GenerateYearOption() {
            var today = new Date();
            var year = today.getFullYear();
            $('#year').empty();
            var year_str = '<option value="" selected disabled>Please Select Year</option>';
            for (var i = 0; i < 15; i++) {
                year_str += '<option value="' + (year - i) + '">' + (year - i) + '</option>';
            }
            $('#year').append(year_str);
        }

        $('#btn_filter').on('click', async function () {
            var user_id = $('#user_id').val();
            var year = $('#year').val();
            await GetScores(user_id, year);
            await GenerateTable();
            $('#name1').html(user_id + " Manpower");
            $('#name2').html(user_id + " Manpower");
        });

    </script>
}