@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #table tr td:nth-of-type(1),
    #table tr td:nth-of-type(2) {
        cursor: pointer;
    }
</style>
<div class="container-fluid p-3" style="background-color:#ECF0F5;">

    <div class="row pt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <span class="card-title" id="card_title" style="font-size:20px;font-weight:bold">Product</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-xl-2 pt-2">
                            <select id="types" class="form-control">
                                <option value="" disabled>Please Select</option>
                                <option value="Product">Product</option>
                                <option value="Project">Project</option>
                                <option value="Service">Service</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-xl-2 pt-2">
                            <select id="type_brand_select" class="form-control" disabled>
                                <option value="" disabled>Please Select</option>
                                <option value="Type">Type</option>
                                <option value="Brand">Brand</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-xl-4 pt-1">
                            <div class="row">
                                <div class="col-md-8 col-xl-8 pt-1">
                                    <input id="name_type" class="form-control" style="width:100%" />
                                </div>
                                <div class="col-md-4 col-xl-4 pt-1">
                                    <button type="button" id="btnAdd" class="btn btn-primary" style="width: 100%" disabled>
                                        <i class="fas fa-plus" style="font-size:20px;"> ADD</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12 pt-3">
                        <table id="table" class="table table-xl cell-border table-dark display responsive nowrap" width="100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="ModalEdit" />
@section Scripts
{
<script type="text/javascript">
    var product_data = [];
    var name = '';
    var id = null;
    var type = "";
    var type_brand = "";

    $(document).ready(function () {
        init();
        document.getElementById("types").selectedIndex = 0;
         document.getElementById("card_title").innerHTML = "";
    });
    function init() {
        document.getElementById("type_brand_select").selectedIndex = 0;
        var dataSet = [];
        table(dataSet);
    };

     function fetch() {
        type = document.getElementById("types").value;
        type_brand = document.getElementById("type_brand_select").value;
        $.ajax({
            url: '@Url.Action("GetData", "Product")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: {
                type,type_brand
            },
            success: function (response) {
                var datas = response;
                var dataSet = [];
                for (var i = 0; i < datas.length; i++) {
                    var data = ["","",
                        datas[i].id,
                        datas[i].name];

                    dataSet.push(data);
                }
                product_data = dataSet;

                table(dataSet);
            }
        });
    };
    var tables;
    function table(dataSet) {
        if (tables !== undefined)
            tables.destroy();
        tables = $('#table').DataTable({
            data: dataSet,
            columns: [
                { title: "", width: 10 },
                { title: "", width: 10 },
                { title: "Id" , width: 10 },
                { title: type },
            ],
            "columnDefs": [
                {
                    "targets": 0,
                    "data": null,
                    "defaultContent": "<i class=\"fas fa-pen\"></i>",
                    "className": 'dt-body-center',
                },
                {
                    "targets": 1,
                    "data": null,
                    "defaultContent": "<i class=\"fas fa-trash\"></i>",
                    "className": 'dt-body-center',
                },
                {
                    "targets": 2,
                    "visible": false,
                    "searchable": false,
                    "className": 'dt-body-center',
                },
            ],
            "scrollX": true,
        });
        $(tables.table().body()).addClass('text-dark');
    };
    $('#table').on('click', 'tbody td', function () {
        var cell = tables.cell(this);
        var column = cell[0][0].column;
        name = cell.data()[3];
        id = cell.data()[2];

        if (column == "0") {
            document.getElementById('edit_type').value = name;
            document.getElementById("edit_card_title").innerHTML = "Edit " + type + " " + type_brand;
            document.getElementById("lbl_type").innerHTML = type;

            $('#EditModal').modal();
        } else if ( column == "1") {
            $.ajax({
            url: '@Url.Action("Delete", "Product")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: {
                name,type,type_brand
            },
            success: function (response) {
                if (response == "Delete Success") {
                    fetch();
                    toastr.success("Delete Success");
                } else {
                    toastr.error("Delete Failed");
                }
            }
        });
        }
    });
    $('#edit_typeConfirm').on('click', function () {
        var name = document.getElementById('edit_type').value;
        $.ajax({
            url: '@Url.Action("Update", "Product")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: {
                id,name,type,type_brand
            },
            success: function (response) {
                if (response == "Update Success") {
                    fetch();
                    toastr.success("Update Success");
                } else {
                    toastr.error("Update Failed");
                }
                $('#EditModal').modal('hide');
            }

        });
    });
    $('#btnAdd').on('click', function () {
        var name = document.getElementById('name_type').value;
        $.ajax({
            url: '@Url.Action("Insert", "Product")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: {
                name,type,type_brand
            },
            success: function (response) {
                if (response == "Insert Success") {
                    fetch();
                    document.getElementById('name_type').value = "";
                    toastr.success("Insert Success");
                } else {
                    toastr.error("Insert Failed");
                }
            }
        });
    });
    $('#types').on('change', function () {
        type = document.getElementById("types").value;
        document.getElementById("card_title").innerHTML = document.getElementById("types").value;
        document.getElementById("type_brand_select").selectedIndex = 0;
        document.getElementById("type_brand_select").disabled = false;
        document.getElementById("btnAdd").disabled = true;
        init();
    });
    $('#type_brand_select').on('change',function(){
         type_brand = document.getElementById("type_brand_select").value;
         document.getElementById("btnAdd").disabled = false;
         fetch();
    });
</script>
}

