<div class="modal" id="ShowModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content text-dark">
      <div class="modal-header">
          <div class="row w-75 d-flex justify-content-between">
              <h4 id="title" class="modal-title align-self-start"></h4>
        <h5 id="percent" class="modal-title align-self-center"></h5>
          </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="table_modal" class="table table-sm table-bordered table-dark nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Sale Name</th>
                                    <th>Department</th>
                                    <th>Quotation No</th>
                                    @*<th>Customer</th>
                                    <th>Project Name</th>*@
                                    <th>Type</th>
                                    <th>Quoted Price</th>
                                    <th>Status</th>
                                    <th>Stages</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

