@using Microsoft.AspNetCore.Http
@model WebForecastReport.Models.UserModel;
<aside class="main-sidebar sidebar-dark-primary elevation-2">
    <a class="brand-link text-center" asp-controller="Calendar" asp-action="Index">
        <span class="brand-text text-bold">MPR</span>
    </a>

    <div class="sidebar" style="padding-left:5px">
        <nav class="mt-2">
            <ul class="nav nav-legacy nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @if(@Model.name == "Korakod.P")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Test" asp-action="Index">
                            <p>TEST</p>
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Calendar" asp-action="Index">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p class="text-bold">CALENDAR</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="WorkingHours" asp-action="Index">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p class="text-bold">WORKING HOURS</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="DailyReport" asp-action="Index">
                        <i class="nav-icon fas fa-user-edit"></i>
                        <p class="text-bold">DAILY REPORT</p>
                    </a>
                </li>

                @if (Model.name == "Korakod.P")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="OvertimeRequest" asp-action="Index">
                            <i class="nav-icon fas fa-clock"></i>
                            <p class="text-bold">OVERTIME REQUEST <span class="badge badge-danger">NEW</span></p>
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="EngineerScore" asp-action="Index">
                        <i class="nav-icon fas fa-star-half-alt"></i>
                        <p class="text-bold">ENGINEER SCORE</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Holiday" asp-action="Index">
                        <i class="nav-icon fas fa-calendar-day"></i>
                        <p class="text-bold">HOLIDAY</p>
                    </a>
                </li>

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-search"></i>
                            <p class="text-bold">VIEW TASKS<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="EngineerTasks" asp-action="Index">
                                    <i class="nav-icon fas fa-calendar-alt"></i>
                                    <p>ENGINEER TASKS</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="TasksByWeek" asp-action="Index">
                                    <i class="nav-icon fas fa-calendar-week"></i>
                                    <p>TASKS BY WEEK</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="WeeklySummary" asp-action="Index">
                                    <i class="nav-icon fas fa-chart-bar"></i>
                                    <p>WEEKLY SUMMARY</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="JobWorkingHours" asp-action="Index">
                                    <i class="nav-icon fas fa-chart-bar"></i>
                                    <p>JOB WHS (WEEKLY)</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="EngWorkingHours" asp-action="Index">
                                    <i class="nav-icon fas fa-chart-bar"></i>
                                    <p>ENG WHS (WEEKLY)</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-plus-square"></i>
                            <p class="text-bold">ASSIGN<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AssignJob" asp-action="Index">
                                    <i class="nav-icon fas fa-thumbtack"></i>
                                    <p>ASSIGN JOB</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AssignEngineer" asp-action="Index">
                                    <i class="nav-icon fas fa-user-plus"></i>
                                    <p>ASSIGN ENGINEER</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-info-circle"></i>
                            <p class="text-bold">ANALYSIS<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Analysis" asp-action="Index">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>ANALYSIS</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p class="text-bold">ADMIN<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Job" asp-action="Index">
                                    <i class="nav-icon fas fa-project-diagram"></i>
                                    <p>JOBS</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Tasks" asp-action="Index">
                                    <i class="nav-icon fas fa-tasks"></i>
                                    <p>TASKS</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="EngUser" asp-action="Index">
                                    <i class="nav-icon fas fa-user"></i>
                                    <p>USERS</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                <li class="nav-item pt-2">
                    <a class="nav-link" asp-controller="Main" asp-action="Index">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p class="text-bold">SELECT MODULE</p>
                    </a>
                </li>

                <li class="nav-item pt-2">
                    <a class="nav-link" asp-controller="Account" asp-action="Index">
                        <i class="nav-icon fas fa-power-off"></i>
                        <p class="text-bold">LOG OUT</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>