@using Microsoft.AspNetCore.Http
<aside class="main-sidebar sidebar-dark-primary elevation-2">
    <a class="brand-link" asp-controller="Home" asp-action="Index">
        <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">MPR</span>
    </a>

    <div class="sidebar" style="padding-left:5px">
        <nav class="mt-2">
            <ul class="nav nav-legacy nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Calendar" asp-action="Index">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>Calendar</p>
                    </a>
                </li>

                <li class="nav-item" hidden>
                    <a class="nav-link" asp-controller="WorkingHours" asp-action="Index">
                        <i class="nav-icon fas fa-file"></i>
                        <p>Working Hours</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="MonthlyWorkingHours" asp-action="Index">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p>Working Hours</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Analysis" asp-action="Index">
                        <i class="nav-icon fas fa-info-circle"></i>
                        <p>Analysis</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Engineer" asp-action="Index">
                        <i class="nav-icon fas fa-star-half-alt"></i>
                        <p>Engineer</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Holiday" asp-action="Index">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Holiday</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Job" asp-action="Index">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>Jobs</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tasks" asp-action="Index">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>Tasks</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Department2" asp-action="Index">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>Department</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="User2" asp-action="Index">
                        <i class="nav-icon fas fa-user"></i>
                        <p>User</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-power-off"></i>
                        <p>Log Out</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>