@using Microsoft.AspNetCore.Http
@model WebForecastReport.Models.UserModel;
<aside class="main-sidebar sidebar-dark-primary elevation-2">
    <a class="brand-link text-center" asp-controller="Calendar" asp-action="Index">
        <span class="brand-text text-bold">MPR</span>
    </a>

    <div class="sidebar" style="padding-left:5px">
        <nav class="mt-2">
            <ul class="nav nav-legacy nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Calendar" asp-action="Index">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p class="text-bold">CALENDAR</p>
                    </a>
                </li>

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="EngineerTasks" asp-action="Index">
                            <i class="nav-icon fas fa-calendar-alt"></i>
                            <p class="text-bold">ENGINEER TASKS</p>
                        </a>
                    </li>
                }

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AssignJob" asp-action="Index">
                            <i class="nav-icon fas fa-thumbtack"></i>
                            <p class="text-bold">ASSIGN JOB</p>
                        </a>
                    </li>
                }

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AssignEngineer" asp-action="Index">
                            <i class="nav-icon fas fa-user-plus"></i>
                            <p class="text-bold">ASSIGN ENGINEER</p>
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="WorkingHours" asp-action="Index">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p class="text-bold">WORKING HOURS</p>
                    </a>
                </li>

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-info-circle"></i>
                            <p class="text-bold">ANALYSIS<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Analysis" asp-action="Index">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Analysis</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Overall Workload</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Manpower</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Manpower Acc.</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Manpower Ratio</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Project Acc. Manpower</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Task Manpower</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Task Manpower Acc.</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Project Task Distribution</p>
                                </a>
                            </li>
                            <li class="nav-item" hidden>
                                <a class="nav-link" asp-controller="Analysis" asp-action="OverallWorkload">
                                    <i class="nav-icon fas fa-info-circle"></i>
                                    <p>Task Ratio</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="EngineerScore" asp-action="Index">
                        <i class="nav-icon fas fa-star-half-alt"></i>
                        <p class="text-bold">ENGINEER SCORE</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Holiday" asp-action="Index">
                        <i class="nav-icon fas fa-home"></i>
                        <p class="text-bold">HOLIDAY</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Job" asp-action="Index">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p class="text-bold">JOBS</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tasks" asp-action="Index">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p class="text-bold">TASKS</p>
                    </a>
                </li>

                @if (Model.role == "Admin")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="EngUser" asp-action="Index">
                            <i class="nav-icon fas fa-user"></i>
                            <p class="text-bold">USERS</p>
                        </a>
                    </li>
                }


                <li class="nav-item pt-2">
                    <a class="nav-link" asp-controller="Main" asp-action="Index">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p class="text-bold">SELECT MODULE</p>
                    </a>
                </li>


                <li class="nav-item pt-2">
                    <a class="nav-link" asp-controller="Account" asp-action="Index">
                        <i class="nav-icon fas fa-power-off"></i>
                        <p class="text-bold">LOG OUT</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>