@{ 
    ViewData["Title"] = "Engineer";
}
<div class="row p-3">
    <div class="col-xl-4 pb-3">
        <select id="year" class="form-control">
            <option value="">Please Select Year</option>
        </select>
    </div>
    <div class="col-xl-2 pb-3">
        <button id="btn_filter" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-sync"></i> Load
        </button>
    </div>
    <div class="col-xl-2" hidden>
        <div class="card">
            <div class="card-header">
                <span class="card-title">Engineer</span>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="start">Start</label>
                        <input id="start" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="stop">Stop</label>
                        <input id="stop" type="date" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button id="btn_filter" class="btn btn-primary form-control" type="button">
                    Filter
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-header">
                <span class="card-title">Scores</span>
            </div>
            <div class="card-body">
                <table id="table_jobs" class="table table-sm compact border table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>Cost</th>
                            <th>MD</th>
                            <th>PD</th>
                            <th>Factor</th>
                            <th>Total Manpower</th>
                            <th>Cost/Manpower</th>
                            <th>Manpower</th>
                            <th>Manpower/Total</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Job ID</th>
                            <th>Cost</th>
                            <th>MD</th>
                            <th>PD</th>
                            <th>Factor</th>
                            <th>Total Manpower</th>
                            <th>Cost/Manpower</th>
                            <th>Manpower</th>
                            <th>Manpower/Total</th>
                            <th>Score</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var table;
        $(document).ready(function () {
            table = $('#table_jobs').DataTable({
                columnDefs: [
                    {
                        targets: [1,2,3,4,5,6,7,8,9],
                        className: "border-left"
                    }
                ],
            });
            GenerateYearOption();
        });

        function GenerateYearOption() {
            var today = new Date();
            var year = today.getFullYear();

            $('#year').empty();
            var year_str = '<option value="" selected disabled>Please Select Year</option>';
            for (var i = 0; i < 15; i++) {
                year_str += '<option value="' + (year - i) + '">' + (year - i) + '</option>';
            }
            $('#year').append(year_str);
        }

        $('#btn_filter').on('click', function () {
            alert("Button Load Clicked");
        });
    </script>
}