@{ 
    ViewData["Title"] = "Holidays";
}
<div class="row p-3 d-flex align-items-center">
    <div class="col-xl-2 col-md-6 pb-3">
        <select id="year" class="form-control">
            <option value="">Please Select Year</option>
        </select>
    </div>
    <div class="col-xl-1 col-md-3 pb-3">
        <button id="btn_load" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-sync"></i> Load
        </button>              
    </div>
    <div class="col-xl-1 col-md-3 pb-3">
        <button id="btn_add_holiday" class="btn btn-success form-control elevation-1">
            <i class="fas fa-plus"></i> Holiday
        </button>          
    </div>
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-header">
                <span class="card-title">Holidays</span>                
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <table id="table_holiday" class="table table-sm border compact table-striped table-hover w-100">
                            <thead class="text-center">
                                <tr>
                                    <th>No</th>
                                    <th style="width:15%">Date</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot class="text-center">
                                <tr>
                                    <th>No</th>
                                    <th>Date</th>
                                    <th>Name</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_holiday" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Create Holiday</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <span>Date</span>
                        <input id="date_id" type="date" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <span>Holiday</span>
                        <input id="date_holiday" type="text" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_accept" type="button" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{ 
    <script type="text/javascript">
        //Variable Declaration
        var table;
        var holidays;

        //Debug Variable
        var debug_holiday = false;

        $(document).ready(async function () {
            GenerateYearOption();
            var today = new Date();
            var year = today.getFullYear();
            $('#year').val(today.getFullYear());
            await GetHolidays(year);
        });

        function GenerateYearOption() {
            var today = new Date();
            var year = today.getFullYear();

            $('#year').empty();
            var year_str = '<option value="" selected disabled>Please Select Year</option>';
            for (var i = 0; i < 15; i++) {
                year_str += '<option value="' + (year - i) + '">' + (year - i) + '</option>';
            }
            $('#year').append(year_str);
        }

        async function GetHolidays(year) {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetHolidays", "Holiday")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { year },
                success: function (response) {
                    holidays = response;
                    if (debug_holiday) {
                        console.log("Holidays");
                        console.log(holidays);
                    }
                    GenerateTable(holidays);
                }
            });
        }

        function GenerateTable(holidays) {
            var datas = [];

            for (var i = 0; i < holidays.length; i++) {
                datas.push([
                    i+1,
                    holidays[i].date.split("T")[0],
                    holidays[i].name
                ]);
            }

            if (table !== undefined) {
                table.destroy();
            }

            table = $('#table_holiday').DataTable({
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                data: datas,
                columnDefs: [
                    {
                        targets: [1, 2],
                        className: "border-left",
                    },
                    {
                        targets: [0],
                        visible: false
                    }
                ],
                ordering: false,
                rowCallback: function (row, data) {
                    $('td:eq(0)', row).addClass("text-center");
                }
            });
        }

        $('#btn_load').on('click', function () {
            var year = $('#year').val();
            GetHolidays(year);
        });
        
        $('#btn_add_holiday').on('click', async function () {
            $('#modal_holiday').modal();
        });
        $('#btn_accept').on('click', async function () {
            let str = JSON.stringify({
                "date": $('#date_id').val(),
                "name": $('#date_holiday').val(),
            });
            await CreateHoliday(str);
        });

        async function CreateHoliday(str) {
            await $.ajax({
                type: "POST",
                url: '@Url.Action("CreateHoliday", "Holiday")',
                contentType: 'application/x-www-form-urlencoded',
                data: { str },
                success: function (response) {
                    if (response === "Success") {
                        window.location.reload();
                    } else {
                        alert(response);
                    }
                }
            });
        }
    </script>
}