<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" style="overflow-y:auto">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Edit Target</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label for="edit_department">Department</label>
                            <input id="edit_department" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <label for="edit_sale_name">Sale Name</label>
                            <input id="edit_sale_name" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <label for="edit_product">Product</label>
                            <input id="edit_product" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <label for="edit_project">Project</label>
                            <input id="edit_project" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-12 col-xl-12">
                            <label for="edit_service">Service</label>
                            <input id="edit_service" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit_Confirm">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
