@{ 
    ViewData["Title"] = "Departments";
}
<div class="row p-3">
    <div class="col-xl-2 col-lg-4 col-md-4 pb-3">
        <button id="btn_add" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-plus"></i> Add Department
        </button>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 pb-3">
        <button id="btn_import" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-upload"></i> Import
        </button>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 pb-3">
        <button id="btn_export" type="button" class="btn btn-primary form-control elevation-1">
            <i class="fas fa-download"></i> Export
        </button>
    </div>
    <div class="col-12">
        <div class="card card-dark">
            <div class="card-header">
                <span class="card-title">Departments</span>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <table id="table_department" class="table table-sm compact border table-striped table-hover w-100">
                            <thead class="text-center">
                                <tr>
                                    <th>ID</th>
                                    <th>Department</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot class="text-center">
                                <tr>
                                    <th>ID</th>
                                    <th>Department</th>
                                    <th>Description</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_department" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal_title" class="modal-title">Create Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" hidden>
                        <label for="department_id">Department ID</label>
                        <input id="department_id" type="text" class="form-control" placeholder="Department ID" />
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <input id="department" type="text" class="form-control" placeholder="Department" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input id="description" type="text" class="form-control" placeholder="Description" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{ 
    <script type="text/javascript">
        //Variable Declaration
        var table;
        var departments = [];
        var update = false;

        //Change these paramenters to true to show log result
        var debug_department = false;
        var debug_department_string = false;

        $(document).ready(function () {
            GetDepartments();
        });

        async function GetDepartments() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetDepartments", "Department")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    departments = response;
                    if (debug_department)
                        console.log(departments);
                    GenerateDepartmentTable(response);
                }
            });
        }

        function GenerateDepartmentTable(deps) {
            var datas = [];
            for (var i = 0; i < deps.length; i++) {
                datas.push([
                    deps[i].department_id,
                    deps[i].department_name,
                    deps[i].description
                ]);
            }

            if (table !== undefined)
                table.DataTable().destroy();

            table = $('#table_department').DataTable({
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                data: datas,
                columnDefs: [
                    {
                        targets: [1, 2],
                        className: "border-left"
                    },
                    {
                        targets: 0,
                        visible: false
                    }
                ],
                rowCallback: function (row, data) {
                    $('td:eq(0)', row).addClass("text-center");
                    $('td:eq(1)', row).addClass("text-center");
                }
            });
        }

        $('#btn_add').on('click', function () {
            update = false;
            $('#modal_department').modal();
            $('#modal_title').text("Create Department");
            $('#department').val(null);
            $('#description').val(null);
        });

        $('#btn_import').on('click', function () {
            alert("Button Import Click");
        });

        $('#btn_export').on('click', function () {
            alert("Button Export Click");
        });

        $('#table_department tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            update = true;
            $('#modal_department').modal();
            $('#modal_title').text("Edit Department");
            $('#department_id').val(data[0]);
            $('#department').val(data[1]);
            $('#description').val(data[2]);
        });

        $('#btn_save').on('click', function () {
            var department_id = $('#department_id').val();
            var department_name = $('#department').val();
            var description = $('#description').val();

            var department_string = JSON.stringify({
                "department_id": department_id,
                "department_name": department_name,
                "description": description,
            });

            if (debug_department_string) {
                console.log(department_string);
            }

            if (update) {
                UpdateDepartment(department_string);
            }
            else {
                CreateDepartment(department_string);
            }
        });

        async function CreateDepartment(department_string) {
            await $.ajax({
                type: "POST",
                url: '@Url.Action("CreateDepartment", "Department")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { department_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        }

        async function UpdateDepartment(department_string) {
            await $.ajax({
                type: "PATCH",
                url: '@Url.Action("UpdateDepartment", "Department")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { department_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        }

    </script>
}