@{
    ViewData["title"] = "Engineer Idle Times";
}
<div class="row p-4" style="row-gap:5px">
    <div class="col-xl-10">
        <div class="card card-dark">
            <div class="card-header">
                <span>Engineer Idle Times</span>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card card-dark">
            <div class="card-header">

            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

    </script>
}