<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" style="overflow-y:auto">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col-md-2 col-xl-2 ml-2">
                        <h4 class="modal-title"><b>Edit Quotation</b></h4>
                    </div>
                    <div class="col-md-5 col-xl-5 ml-2">
                        <select id="edit_sale_name" class="form-control" style="width:100%" disabled>
                        </select>
                    </div>
                    <div class="col-md-3 col-xl-3 ml-2">
                        <div class="row">
                            <div class="col-md-6 col-xl-6">
                                <h4 style="width:100%"><b>Department: </b></h4>
                            </div>
                            <div class="col-md-6 col-xl-6 pl-3">
                                <h4 id="edit_department" style="width:100%;font-weight:bold" disabled></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-md-2 col-xl-2">
                            <label>Quotation No</label>
                            <input id="edit_quotation_no" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                        <div class="col-md-1 col-xl-1">
                            <label>Revision</label>
                            <input id="edit_revision" type="number" class="form-control" />
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Quotation Created Date</label>
                            <input id="edit_date" type="text" value="" class="form-control" style="width:100%" disabled>
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Customer</label>
                            <input id="edit_customer" type="text" class="form-control" style="width:100%" list="list_customer" />
                            <datalist id="list_customer">
                            </datalist>
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>End User</label>
                            <input id="edit_enduser" type="text" class="form-control" style="width:100%" list="list_enduser" />
                            <datalist id="list_enduser">
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3 col-xl-3">
                            <label>Project Name</label>
                            <input id="edit_project_name" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Site Location</label>
                            <input id="edit_site_location" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1">
                            <label>Status</label>
                            <i class="far fa-question-circle" id="info_status"></i>
                            <select id="edit_status" class="form-control" style="width:100%">
                                <option value="IN">IN</option>
                                <option value="OUT">OUT</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <label>Stages</label>
                            <i class="far fa-question-circle" id="info_stages"></i>
                            <select id="edit_stages" class="form-control" style="width:100%">
                                <option value="Quote for Budget">Quote for Budget</option>
                                <option value="Negotiation/Review">Negotiation/Review</option>
                                <option value="Proposal/Quote for Order">Proposal/Quote for Order</option>
                                <option value="Prospecting">Prospecting</option>
                                <option value="Closed(Won)">Closed(Won)</option>
                                <option value="Closed(Lost)">Closed(Lost)</option>
                                <option value="No go">No go</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-xl-2 d-flex align-items-end">
                            <input id="edit_stages_update_date" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3 col-xl-3">
                            <label>Expected Order Date</label>
                            <i class="far fa-question-circle" id="info_expected_order_date"></i>
                            <input id="edit_expected_order_date" type="date" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Required Onsite Date</label>
                            <i class="far fa-question-circle" id="info_required_onsite_date"></i>
                            <input id="edit_required_onsite_date" type="date" class="form-control" style="width:100%">
                        </div>

                        <div class="col-md-3 col-xl-3">
                            <label>Proposal Created By</label>
                            <select id="edit_proposer" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Proposal Expected Date</label>
                            <input id="edit_expected_date" type="date" class="form-control" style="width:100%" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="table_quotation_edit">Engineering In Charge</label>
                            <div class="form-group row">                              
                                <div class="col-md-2 col-xl-2 pt-1">                                   
                                    <select class="form-control" id="select_engineer_in_charge_department">
                                        <option value="" disabled>Please Select</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-xl-3 pt-1">
                                    <select class="form-control" id="select_engineer_in_charge">
                                    </select>
                                </div>
                                <div class="col-md-1 col-xl-1 pt-1">
                                    <input type="button" class="btn btn-success form-control" id="add_engineer_in_charge" value="ADD" disabled />
                                </div>

                                <div class="col-md-3 col-xl-3 pt-1 form-inline">                               
                                    <input type="checkbox" id="edit_chk_exclude_quote" style="width:20px;height:20px"/>
                                    <label for="edit_chk_exclude_quote" class="form-check-label pl-1" style="font-weight:bold">Duplicate</label>
                                </div>
                            </div>
                            <table class="table table-md cell-border table-dark display responsive nowrap" id="table_engineer_in_charge_edit" style="width:100%;overflow-x:auto">
                            </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 col-xl-2">
                            <label>Product Type</label>
                            <select id="edit_product_type" type="text" class="form-control" style="width:100%">
                                <option value="" disabled>Please Select</option>
                                <option value="Product">Product</option>
                                <option value="Project">Project</option>
                                <option value="Service">Service</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-xl-3" id="group_types">
                            <label>Types</label>
                            <select id="types" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Brand</label>
                            <select id="brands" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-1 col-xl-1 pt-1 d-flex align-items-end">
                            <input type="button" class="btn btn-success form-control" id="btnAddType" value="ADD" />
                        </div>
                        <div class="col-md-1 col-xl-1 pt-1 d-flex align-items-end" hidden>
                            <input type="button" id="clear_btnType" class="btn btn-warning form-control" value="Clear" hidden />
                        </div>
                    </div>
                    <div id="group_types" class="form-group pb-3" style="overflow-x:auto;width:100%">
                        <label for="table_types">Types</label>
                        <table id="table_types" class="table table-xl cell-border table-dark display responsive nowrap" style="width:100%; overflow-x:auto">
                        </table>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 col-xl-4">
                            <div class="row">
                                <div class="col-md-12 col-xl-12">
                                    <label>Quoted Price</label>
                                    <div class="row">
                                        <input id="edit_quoted_price" type="text" class="form-control ml-2" style="width:85%">
                                        <h5 class="pt-2 pl-1"><b> THB</b></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label>How supplier support to win this project</label>
                            <input id="edit_how_to_support" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label>Competitor</label>
                            <input id="edit_competitor" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 col-xl-4">
                            <label>Competitor Description</label>
                            <input id="edit_competitor_description" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label>Compettitor A Price (THB)</label>
                            <input id="edit_competitor_price" type="text" class="form-control" style="width:100%">
                        </div>

                        <div class="col-md-4 col-xl-4">
                            <label>Detail Project</label>
                            <input id="edit_detail" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit_quotationConfirm">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="EditTypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Type</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Type</label>
                            <input id="edit_sub_type" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Brand</label>
                            <input id="edit_sub_brand" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Part No</label>
                            <input id="edit_sub_part_no" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Spec</label>
                            <input id="edit_sub_spec" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Quantity</label>
                            <input id="edit_sub_quantity" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Supplier Quotation No</label>
                            <input id="edit_sub_supplier_quotation_no" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Total Value</label>
                            <input id="edit_sub_total_value" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Unit</label>
                            <select id="edit_sub_unit" class="form-control" style="width:100%">
                                <option value="THB">THB</option>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="JPY">JPY</option>
                                <option value="CHF">CHF</option>
                                <option value="GBP">GBP</option>
                                <option value="SGD">SGD</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit_TypeConfirm">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="ShowInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="info_title" style="font-weight:bold"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12" id="divinfo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="ShowStatusChangedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"style="font-weight:bold">Status Change</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                         <label>เหตุผลที่เปลี่ยน เพราะอะไร</label>
                         <textarea id="edit_status_reason" rows="3" cols="100" class="form-control" style="width:100%;"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="StatusChangedConfirm">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="ShowStagesChangedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"style="font-weight:bold">Stages Change</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                        <div class="form-group row m-0">
                         <label>เหตุผลที่เปลี่ยน เพราะอะไร</label>
                         <textarea id="edit_stages_reason" rows="3" cols="100" class="form-control" style="width:100%;"></textarea>
                    </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="StagesChangedConfirm">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
