<div class="modal fade" id="EditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Edit Quotation</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                        <div class="col-md-3 col-xl-3">
                            <label>Quotation No</label>
                            <input id="edit_quotation_no" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Date</label>
                            <input id="edit_date" type="date" value="" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Customer</label>
                            <input id="edit_customer" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>End User</label>
                            <input id="edit_enduser" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-3 col-xl-3">
                            <label>Project Name</label>
                            <input id="edit_project_name" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Site Location</label>
                            <input id="edit_site_location" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Proposer</label>
                            <input id="edit_proposer" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Status</label>
                            <select id="edit_status" class="form-control" style="width:100%">
                                <option value="IN">IN</option>
                                <option value="OUT">OUT</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <div class="col-md-3 col-xl-3">
                            <label>Expected Order Date</label>
                            <input id="edit_expected_order_date" type="date" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Required Onsite Date</label>
                            <input id="edit_required_onsite_date" type="date" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Expected Date</label>
                            <input id="edit_expected_date" type="date" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3 col-xl-3">
                            <label>Stages</label>
                            <select id="edit_stages" class="form-control" style="width:100%">
                                <option value="Quote for Buddget">Quote for Buddget</option>
                                <option value="Negotiation/Review">Negotiation/Review</option>
                                <option value="Proposal/Quote for Order">Proposal/Quote for Order</option>
                                <option value="Prospecting">Prospecting</option>
                                <option value="Closed(Won)">Closed(Won)</option>
                                <option value="Closed(Lost)">Closed(Lost)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3 pl-4 py-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkKnick">
                                <label class="form-check-label" for="chkKnick">Knick</label>
                            </div>
                        </div>
                        <div class="col-3 pl-4 py-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkMRU">
                                <label class="form-check-label" for="chkMRU">MRU</label>
                            </div>
                        </div>
                        <div class="col-3 pl-4 py-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkSCan">
                                <label class="form-check-label" for="chkSCan">S::Can</label>
                            </div>
                        </div>
                        <div class="col-3 pl-4 py-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkStahl">
                                <label class="form-check-label" for="chkStahl">Stahl</label>
                            </div>
                        </div>
                        <div class="col-3 pl-4 py-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkServomex">
                                <label class="form-check-label" for="chkServomex">Servomex</label>
                            </div>
                        </div>
                        <div class="col-3 pl-4 py-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkSwan">
                                <label class="form-check-label" for="chkSwan">Swan</label>
                            </div>
                        </div>
                        <div class="col-3 pl-4 py-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkVaisala">
                                <label class="form-check-label" for="chkVaisala">Vaisala</label>
                            </div>
                        </div>
                        <div class="col-3 pl-4 py-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkOther">
                                <label class="form-check-label" for="chkOther">Other</label>
                            </div>
                            <div>
                                <input type="text" id="txtOther" />
                                <input type="button" value="Add" id="btnAddProduct" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-10 col-xl-10">
                            <label>Product Type</label>
                            <input id="edit_product_type" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-1 col-xl-1">
                            <label>Clear</label>
                            <button type="button" id="clear_btnProductType" class="btn btn-warning" style="width:100%;height:38px">Clear</button>
                        </div>
                        <div class="col-md-1 col-xl-1">
                            <label>Edit</label>
                            <button type="button" id="edit_btnProductType" class="btn btn-primary" style="width:100%;height:38px">More</button>
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-4 col-xl-4">
                            <label>Compettitor A Price (EUR)</label>
                            <input id="edit_competitor_price" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label>Sale Name</label>
                            <select id="edit_sale_name" class="form-control" style="width:100%">
                            </select>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label>How supplier support to win this project</label>
                            <input id="edit_how_to_support" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-4 col-xl-4">
                            <label>Competitor</label>
                            <input id="edit_competitor" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label>Competitor Description</label>
                            <input id="edit_competitor_description" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <label>Detail Project</label>
                            <input id="edit_detail" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit_quotationConfirm">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="EditMoreModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Product Type</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <table id="tableedit" class="table table-md cell-border table-dark display responsive nowrap" width="100%">
                        </table>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary" id="edit_moreConfirm">Save changes</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="EditProductTypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Product Type</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Product Type</label>
                            <input id="edit_sub_product_type" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Part No</label>
                            <input id="edit_sub_part_no" type="text" class="form-control" style="width:100%" >
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Spec</label>
                            <input id="edit_sub_spec" type="text" class="form-control" style="width:100%" >
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Quantity</label>
                            <input id="edit_sub_quantity" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Supplier Quotation No</label>
                            <input id="edit_sub_supplier_quotation_no" type="text" class="form-control" style="width:100%" >
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Total Value</label>
                            <input id="edit_sub_total_value" type="text" class="form-control" style="width:100%" >
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Unit</label>
                            <select id="edit_sub_unit" class="form-control" style="width:100%">                               
                                <option value="THB">THB</option>
                                <option value="THB">URD</option>
                                <option value="THB">USD</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit_ProductTypeConfirm">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
