@model WebForecastReport.Models.UserModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Proposal";
}
<style>
    #table_proposal tr td:nth-of-type(1),
    #table_proposal tr td:nth-of-type(2) {
        cursor: pointer;
    }
</style>
<div class="row p-3">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title"><b>Proposal</b></span>
            </div>
            <div class="card-body">
                <table id="table_proposal" class="table table-xl cell-border table-dark display responsive nowrap" width="100%">
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="ModalEdit" />

@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
       init();
    });
     function init() {
        var name = '@Model.name';
        var role = '@Model.role';
        $.ajax({
            url: '@Url.Action("GetData", "Proposal")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: {
                name, role
            },
            success: function (response) {
                var datas = response;
                var dataSet = [];
                 for (var i = 0; i < datas.length; i++) {
                    var data = ["",
                        "",
                        datas[i].quotation.quotation_no,
                        datas[i].quotation.date,
                        datas[i].quotation.customer,
                        datas[i].quotation.enduser,
                        datas[i].quotation.project_name,
                        datas[i].quotation.site_location,
                        datas[i].quotation.product_type,
                        datas[i].quotation.type,
                        datas[i].quotation.total_value,
                        datas[i].quotation.expected_order_date,
                        datas[i].quotation.required_onsite_date,
                        datas[i].quotation.proposer,
                        datas[i].quotation.department,
                        datas[i].quotation.expected_date,
                        datas[i].request_date,
                        datas[i].proposal_status,
                        datas[i].proposal_revision,
                        datas[i].proposal_cost,
                        datas[i].proposal_quoted_price,
                        datas[i].gp,
                        datas[i].finish_date,
                        datas[i].engineering_request,
                        datas[i].ppc_request,
                        datas[i].person_in_charge
                        ];
                        dataSet.push(data);
                }
                console.log(dataSet);
                table(dataSet);
            }
        });
    };
     var tables;
    function table(dataSet) {
        if (tables !== undefined)
            tables.destroy();
            tables = $('#table_proposal').DataTable({
            data: dataSet,
            columns: [
                { title: ""},
                { title: ""},
                { title: "Quotation NO"},
                { title: "Quotation Created Date"},
                { title: "Customer"},
                { title: "End User"},
                { title: "Project Name"},
                { title: "Site Location"},
                { title: "Project Type"},
                { title: "Type"},
                { title: "Total Value"},
                { title: "Expected Order Date"},
                { title: "Required Onsite Date"},
                { title: "Proposal Creted By"},
                { title: "Proposal Departmnt"},
                { title: "Proposal Expected Date"},
                { title: "Proposal Request Date"},
                { title: "Proposal Status"},
                { title: "Revision"},
                { title: "Proposal Cost"},
                { title: "Quoted Price"},
                { title: "GP"},
                { title: "Finish Date"},
                { title: "Engineering Request"},
                { title: "PPC Request"},
                { title: "Person In Charge"},
            ],
            "columnDefs": [
                {
                    "targets": 0,
                    "data": null,
                    "defaultContent": "<i class=\"fas fa-pen\"></i>",
                    "className": 'dt-body-center',
                },
                {
                    "targets": 1,
                    "data": null,
                    "defaultContent": "<i class=\"fas fa-eye\"></i>",
                    "className": 'dt-body-center'
                },

            ],
            scrollX: true,
            stateSave: true,
        });
        $(tables.table().body()).addClass('text-dark');
    };
    $('#table_proposal').on('click','tbody td',function(){
         var cell = tables.cell(this);
         var column = cell[0][0].column;

         if(column == 0){
             $('#modal_proposal').modal('show');
         }
         if(column == 1){

         }
    });
</script>
}