@model WebForecastReport.Models.UserModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Proposal";
}
<style>
    #table_proposal tr td:nth-of-type(1),
    #table_proposal tr td:nth-of-type(2) {
        cursor: pointer;
    }
</style>
<div class="row p-3">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title"><b>Proposal</b></span>
            </div>
            <div class="card-body">
                <table id="table_proposal" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Quotation NO</th>
                            <th>Quotation Created Date</th>
                            <th>Customer</th>
                            <th>End User</th>
                            <th>Project Name</th>
                            <th>Site Location</th>
                            <th>Project Type</th>
                            <th>Type</th>
                            <th>Total Value</th>
                            <th>Expected Order Date</th>
                            <th>Required Onsite Date</th>
                            <th>Proposal Creted By</th>
                            <th>Proposal Expected Date</th>
                            <th>Proposal Request Date</th>
                            <th>Proposal Status</th>
                            <th>Revision</th>
                            <th>Proposal Cost</th>
                            <th>Quoted Price</th>
                            <th>GP</th>
                            <th>Finish Date</th>
                            <th>Engineering Request</th>
                            <th>PPC Request</th>
                            <th>Person In Charge</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="ModalEdit" />

@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
       init();
    });
     function init() {
        var name = '@Model.name';
        var role = '@Model.role';
        $.ajax({
            url: '@Url.Action("GetData", "Proposal")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: {
                name, role
            },
            success: function (response) {
                var datas = response;
                var dataSet = [];
                 for (var i = 0; i < datas.length; i++) {
                    var data = ["",
                        "",
                        datas[i].quotation.quotation_no,
                        datas[i].quotation.date,
                        datas[i].quotation.customer,
                        datas[i].quotation.enduser
                        ];

                        dataSet.push(data);
                }
                console.log(dataSet);
                table(dataSet);
            }
        });
    };
     var tables;
    function table(dataSet) {
        if (tables !== undefined)
            tables.destroy();
            tables = $('#table_proposal').DataTable({
            data: dataSet,
            "columnDefs": [
                {
                    "targets": 0,
                    "data": null,
                    "defaultContent": "<i class=\"fas fa-pen\"></i>",
                    "className": 'dt-body-center',
                },
                {
                    "targets": 1,
                    "data": null,
                    "defaultContent": "<i class=\"fas fa-eye\"></i>",
                    "className": 'dt-body-center'
                },

            ],
            scrollX: true,
            stateSave: true,
        });
        $(tables.table().body()).addClass('text-dark');
    }
</script>
}