@model WebForecastReport.Models.MPR.Form_OvertimeModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Form Overtime</title>
    <partial name="Style" />
</head>
<body>
    <div class="container">
        <form>
            <div class="form-group row">
                <div class="col-6">
                    <p>TEST1</p>
                </div>
                <div class="col-6">
                    <p>TEST2</p>
                </div>
            </div>
        </form>
    </div>
    <partial name="Scripts" />
</body>
</html>