<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" style="overflow-y:auto">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Edit Role</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Name</label>
                            <input id="edit_name" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Department</label>
                            <input id="edit_department" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Role</label>
                            <select id="edit_role" class="form-control" style="width:100%">
                                <option value="Admin">Admin</option>
                                <option value="Manager">Manager</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit_RoleConfirm">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--<div class="modal fade" id="EditProductTypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Product Type</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Product Type</label>
                            <input id="edit_sub_product_type" type="text" class="form-control" style="width:100%" disabled>
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Part No</label>
                            <input id="edit_sub_part_no" type="text" class="form-control" style="width:100%" >
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Spec</label>
                            <input id="edit_sub_spec" type="text" class="form-control" style="width:100%" >
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Quantity</label>
                            <input id="edit_sub_quantity" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Supplier Quotation No</label>
                            <input id="edit_sub_supplier_quotation_no" type="text" class="form-control" style="width:100%" >
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Total Value</label>
                            <input id="edit_sub_total_value" type="text" class="form-control" style="width:100%" >
                        </div>
                    </div>
                    <div class="form-group row m-0">
                        <div class="col-md-12 col-xl-12">
                            <label>Unit</label>
                            <select id="edit_sub_unit" class="form-control" style="width:100%">                               
                                <option value="THB">THB</option>
                                <option value="THB">URD</option>
                                <option value="THB">USD</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit_ProductTypeConfirm">Save changes</button>
            </div>
        </div>--><!-- /.modal-content -->
    <!--</div>--><!-- /.modal-dialog -->
<!--</div>--><!-- /.modal -->
